* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Merriweather', serif;
	background-color: #ebf2ff;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ffffff;
	box-shadow: 0px 6px 8px -5px #808080;
}

.navbar_brand {
	width: 100px;
}

.navbar_logo {
	width: 100%;
}

.button_primary {
	background-image: linear-gradient(
		to right,
		#ff512f 0%,
		#dd2476 100%
		);
	color: #ffffff;
	border: none;
	padding: 10px;
	border-radius: 6px;
	font-weight: 600;
}

.button_primary:hover {
	background-image: linear-gradient(
		to left,
		#ff512f 0%,
		#dd2476 100%
		);
	cursor: pointer;
}

.container {
	padding: 20px;
	margin: 0px auto;
}


.hero_container {
	display: flex;
	flex-direction: column;
}

.hero_image_container {
	position: relative;
	margin-top: 10px;
	width: 100%;
	height: 300px;
}

.graphic_design {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.hero_image {
	margin-top: 3px;
	width: 100%;
	border-radius: 8px;
	box-shadow: 0px 6px 18px -6px #808080;
}

.hero_description {
	width: 100%;
}

.hero_text {
	font-weight: 800;
	font-size: 28px;
	color: #1d3557;
	margin: 20px 0;
}

.explore_menu {
	margin-top: 100px;
}

.explore_menu_text {
	font-size: 28px;
	color: #1d3557;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 40px;
}

.explore_menu_list {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.food_card {
	background-color: #bde0fe;
	border-radius: 8px;
	box-shadow: 0px 2px 8px -4px #808080;
	width: 100%;
}

.food_card:hover {
	box-shadow: 0px 6px 16px -4px #808080;
	cursor: pointer;
}

.food_card_image_container {
	width: 100%;
}

.food_image {
	width: 100%;
	border-radius: 8px;
}

.food_card_description {
	padding: 12px;
}

@media (min-width: 768px) {
	.navbar {
		justify-content: space-between;
		padding-top: 10px;
		padding-right: 20px;
		padding-left: 10px;
	}

	.hero_container {
		margin-top: 20px;
		justify-content: space-between;
		flex-direction: row-reverse;
		align-items: center;
	}

	.hero_image_container {
		height: 350px;
	}

	.hero_image {
		margin-top: 20px;
	}

	.explore_menu {
		position: relative;
	}

	.explore_menu_graphic_design {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(
			to right,
			#ff512f 0%,
			#dd2476 51%,
			#ff512f 100%
			);
		top: 0px;
		left: 0px;
		z-index: -1;
		transform: skewY(-5deg);
		padding: 20px 0px;
	}

	.explore_menu_list {
		flex-direction: row;
		padding: 0px 15px;
	}

	#pizza_card {
	margin-top: -20px;
	margin-bottom: 20px;
	}

	.food_card:hover {
		box-shadow: 0px 6px 18px -2px #d3d3d3;
		cursor: pointer;
	}
}

@media (min-width: 1024px) {
	.navbar {
		padding-top: 15px;
		padding-right: 30px;
		padding-bottom: 15px;
		padding-left: 15px;
	}

	.navbar_brand {
		width: 150px;
	}

	.button_primary {
		padding: 15px;
		font-size: 20px;
	}

	.container {
		max-width: 80%;
	}

	.hero_text {
		font-size: 48px;
	}

	.hero_image_container {
		height: 475px;
	}

	.explore_menu_list {
		padding: 25px;
		gap: 20px;
	}

	.explore_menu_text {
		font-size: 36px;
	}

	.explore_menu_graphic_design {
		padding: 40px 0px;
	}
}

@media (min-width: 1400px) {
	.hero_image_container {
		height: 525px;
	}
}