* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Merriweather', serif;
	background-color: #f9fafc;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ffffff;
	box-shadow: 0px 10px 10px -5px #808080;
}

.navbar_brand {
	width: 100px;
}

.navbar_logo {
	width: 100%;
}

.nav_item {
	background-image: linear-gradient(
		to right,
		#ff512f 0%,
		#dd2476 100%
		/*#ff512f 100%*/
		);
	color: #ffffff;
	border: none;
	padding: 10px;
	border-radius: 6px;
	font-weight: 600;
}

.nav_item:hover {
	background-image: linear-gradient(
		to left,
		#ff512f 0%,
		#dd2476 100%
		);
	cursor: pointer;
}

@media (min-width: 768px) {
	.navbar {
		justify-content: space-between;
		padding-top: 10px;
		padding-right: 20px;
		padding-left: 10px;
	}
}

@media (min-width: 1024px) {
	.navbar {
		padding-top: 15px;
		padding-right: 30px;
		padding-bottom: 15px;
		padding-left: 15px;
	}

	.navbar_brand {
		width: 150px;
	}

	.nav_item {
		padding: 15px;
		font-size: 20px;
	}
}